<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" href="">
  <title>Car Booking | Booking App</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet"
    type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/boostrap.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this page -->
  <link href="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->

    <!-- End of Sidebar -->
    {% include 'sidebar.html' %}
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-dark bg-black topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- End Sidebar Toggle (Topbar) -->

          <!-- Topbar Navbar -->
          {% include 'topbar.html' %}
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Content Row -->
          <div class="row">
            <div class="container-fluid">

              <!-- Form Booking -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold">Form Booking Mobil</h6>
                </div>
                <div class="card-body">
                  <form id="formBooking" action="{{ url_for('car_booking') }}" method="POST"
                    enctype="multipart/form-data">
                    <div class="row">
                      <!-- Left Section -->
                      <div class="col-md-8">
                        <div class="form-group">
                          <!-- <input type="hidden" id="bookingId" name="bookingId" value=""> -->
                          <input type="text" id="bookingId" name="bookingId" value="">
                          <label for="carName">Nama Mobil :</label>
                          <select class="form-control" id="carName" name="carName" required>
                            <option value="" disabled selected>Pilih Mobil</option>
                            {% for car in cars %}
                            <option value="{{ car['id'] }}" data-phone="{{ car['driver_phone'] }}"
                              data-image="{{ url_for('static', filename='picture/' + car['image_path']) }}">
                              {{ car['name'] }}
                            </option>
                            {% endfor %}
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="noTelpDriver">No Telp Driver :</label>
                          <input type="text" class="form-control" id="noTelpDriver" name="noTelpDriver" readonly>
                        </div>
                        <div class="form-group">
                          <label for="namaPIC">Nama PIC :</label>
                          <input type="text" class="form-control" id="namaPIC" name="namaPIC" required>
                        </div>
                        <div class="form-group">
                          <label for="waktuMulai">Waktu Mulai :</label>
                          <input type="datetime-local" class="form-control" id="waktuMulai" name="waktuMulai" required>
                        </div>
                        <div class="form-group">
                          <label for="waktuSelesai">Waktu Selesai :</label>
                          <input type="datetime-local" class="form-control" id="waktuSelesai" name="waktuSelesai"
                            required>
                        </div>
                        <div class="form-group">
                          <label for="description">Keterangan :</label>
                          <textarea class="form-control" id="description" name="description" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-danger">Simpan</button>
                      </div>

                      <!-- Right Section -->
                      <div id="imagePreview" class="col-md-4">
                        <div class="form-group">
                          <label for="preview-image">Gambar/Foto :</label>
                          <img id="preview-image" src="#" alt="Gambar Mobil" class="img-fluid border"
                            style="display: none;">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- End Form Booking -->

            <!-- DataTales Room-->
            <div class="col-lg-12">

              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold">Data Booking Mobil</h6>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                      <thead>
                        <tr>
                          <th width="5%">id</th>
                          <th style="text-align: center; vertical-align: middle;">Waktu Booking</th>
                          <th style="text-align: center; vertical-align: middle;">Nama Mobil</th>
                          <th style="text-align: center; vertical-align: middle;">No Telp Driver</th>
                          <th style="text-align: center; vertical-align: middle;">Nama PIC</th>
                          <th style="text-align: center; vertical-align: middle;">Waktu Mulai</th>
                          <th style="text-align: center; vertical-align: middle;">Waktu Selesai</th>
                          <th style="text-align: center; vertical-align: middle;">Keterangan</th>
                          <th style="text-align: center; vertical-align: middle;">Aksi</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for booking in bookings %}
                        <tr>
                          <td>{{ booking['id'] }}</td>
                          <td>{{ booking['time_booking'] }}</td>
                          <td>{{ booking['car_name'] }}</td>
                          <td>{{ booking['pic_name'] }}</td>
                          <td>{{ booking['driver_phone'] }}</td>
                          <td>{{ booking['start_time'] }}</td>
                          <td>{{ booking['end_time'] }}</td>
                          <td>{{ booking['description'] }}</td>
                          <td>
                            <!-- Tombol Select -->
                            <button type="button" class="btn btn-success btn-sm"
                              onclick="selectBooking({{ booking.id }})">Select</button>
                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancelModal"
                              data-id="{{ booking['id'] }}">Hapus</button>
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- End DataTales Room-->

              </div>

            </div>

            <!-- Modal Konfirmasi Hapus -->
            <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Konfirmasi Pembatalan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <form id="cancelForm" onsubmit="submitCancelForm(event)">
                    <div class="modal-body">
                      <p>Apakah Anda yakin ingin membatalkan booking ini?</p>
                      <input type="hidden" id="cancelBookingId" name="bookingId">
                      <div class="mb-3">
                        <label for="cancelReason" class="form-label">Alasan Pembatalan:</label>
                        <textarea class="form-control" id="cancelReason" name="cancelReason" rows="3"
                          required></textarea>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                      <button type="submit" class="btn btn-danger">Hapus</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

  <!-- Page level plugins -->
  <script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

  <!-- Page level custom scripts -->
  <script src="{{ url_for('static', filename='js/demo/datatables-demo.js') }}"></script>

  <script>
    // Pratinjau Gambar
    $(document).ready(function () {
      // Pratinjau gambar berdasarkan mobil yang dipilih
      $('#carName').on('change', function () {
        const selectedOption = $(this).find(':selected');
        const imageSrc = selectedOption.data('image'); // Ambil atribut data-image dari option yang dipilih
        const driverPhone = selectedOption.data('phone'); // Ambil atribut data-phone dari option yang dipilih

        if (imageSrc) {
          // Set src gambar dan tampilkan gambar
          $('#preview-image').attr('src', imageSrc).show();
          $('#imagePreview').show();
        } else {
          // Jika tidak ada gambar, sembunyikan elemen gambar
          $('#preview-image').hide();
          $('#imagePreview').hide();
        }

        // Isi nomor telepon driver ke input
        $('#noTelpDriver').val(driverPhone || '');
      });
    });

    // validasi waktu mulai >= waktu selesai
    $(document).ready(function () {
      // Fungsi validasi waktu
      function validateTime() {
        const waktuMulaiVal = $('#waktuMulai').val();
        const waktuSelesaiVal = $('#waktuSelesai').val();

        // Jika salah satu input kosong, jangan lakukan validasi
        if (!waktuMulaiVal || !waktuSelesaiVal) {
          return;
        }

        const waktuMulai = new Date(waktuMulaiVal);
        const waktuSelesai = new Date(waktuSelesaiVal);

        // Validasi waktu
        if (waktuMulai >= waktuSelesai) {
          alert('Waktu mulai harus lebih kecil waktu selesai.');
          $('#waktuMulai, #waktuSelesai').addClass('is-invalid'); // Tambah tanda kesalahan
        } else {
          $('#waktuMulai, #waktuSelesai').removeClass('is-invalid'); // Hapus tanda kesalahan jika valid
        }
      }

      // Pantau perubahan pada kedua input
      $('#waktuMulai, #waktuSelesai').on('change', validateTime);
    });

    //ajax untuk submit data - input baru & edit
    $(document).ready(function () {
      $('#formBooking').on('submit', function (event) {
        event.preventDefault(); // Mencegah pengiriman form secara default

        const formData = $(this).serialize(); // Serialisasi data form
        const bookingId = $('#bookingId').val(); // Ambil nilai dari input hidden bookingId

        if (!bookingId) {
          // Jika bookingId kosong, lanjutkan proses input data
          $.ajax({
            url: $(this).attr('action'), // URL tujuan (diambil dari form)
            type: 'POST',
            data: formData,
            success: function (response) {
              if (response.status === 'success') {
                alert(response.message); // Tampilkan pesan sukses
                location.reload(); // Refresh halaman setelah sukses
              } else {
                alert('Terjadi kesalahan dalam respons.');
              }
            },
            error: function (xhr) {
              // Menampilkan pesan kesalahan jika ada
              const errorResponse = JSON.parse(xhr.responseText);
              if (errorResponse && errorResponse.message) {
                alert(errorResponse.message);
              } else {
                alert('Terjadi kesalahan saat menyimpan data.');
              }
            },
          });
        } else {
          // Jika bookingId tidak kosong, tampilkan konfirmasi
          const confirmUpdate = confirm(`Apakah Anda yakin ingin merubah data booking dengan ID ${bookingId}?`);
          if (confirmUpdate) {
            // Jika pengguna memilih "OK", lanjutkan POST
            $.ajax({
              url: $(this).attr('action'), // URL tujuan (diambil dari form)
              type: 'POST',
              data: formData,
              success: function (response) {
                if (response.status === 'success') {
                  alert(response.message); // Tampilkan pesan sukses
                  location.reload(); // Refresh halaman setelah sukses
                } else {
                  alert('Terjadi kesalahan dalam respons.');
                }
              },
              error: function (xhr) {
                // Menampilkan pesan kesalahan jika ada
                const errorResponse = JSON.parse(xhr.responseText);
                if (errorResponse && errorResponse.message) {
                  alert(errorResponse.message);
                } else {
                  alert('Terjadi kesalahan saat menyimpan data.');
                }
              },
            });
          }
        }
      });
    });

    ////ajax untuk delete data
    $(document).ready(function () {
      // Untuk menyimpan ID booking ke dalam modal
      $('#cancelModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget); // Button yang memicu modal
        const bookingId = button.data('id'); // Ambil data-id dari button
        $('#cancelBookingId').val(bookingId); // Masukkan ke input hidden dalam modal
      });

      // AJAX untuk submit cancel form
      $('#cancelForm').on('submit', function (event) {
        event.preventDefault(); // Mencegah pengiriman form secara default

        const cancelData = $(this).serialize(); // Serialisasi data form

        $.ajax({
          url: '/cancel_booking', // URL endpoint untuk membatalkan booking
          type: 'POST',
          data: cancelData,
          success: function (response) {
            if (response.status === 'success') {
              alert(response.message); // Tampilkan pesan sukses
              location.reload(); // Refresh halaman setelah pembatalan berhasil
            } else {
              alert('Terjadi kesalahan dalam respons.');
            }
          },
          error: function (xhr) {
            // Menampilkan pesan kesalahan jika ada
            const errorResponse = JSON.parse(xhr.responseText);
            if (errorResponse && errorResponse.message) {
              alert(errorResponse.message);
            } else {
              alert('Terjadi kesalahan saat membatalkan booking.');
            }
          },
        });
      });
    });
  </script>

</body>

</html>