<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Booking</title>
    <!-- Link ke Bootstrap CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <br>
        {% include 'header.html' %}
    </div>
    <br>
    <div class="container">
        <h2>Car Management</h2>
        <p>Halaman untuk mengelola booking mobil</p>
        {% if alert %}
        <div class="alert alert-danger" role="alert">
            {{ alert }}
        </div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
        {% endif %}

        <!-- Form Input Booking -->
        <form action="{{ url_for('car_booking') }}" method="POST" enctype="multipart/form-data">
            <input type="text" id="bookingId" name="bookingId" value="">
            <!-- <input type="hidden" id="bookingId" name="bookingId" value=""> -->
            <div class="mb-3">
                <label for="carName" class="form-label">Nama Mobil:</label>
                <select class="form-control" id="carName" name="carName" required>
                    <option value="" disabled selected>Pilih Mobil</option>
                    {% for car in cars %}
                    <option value="{{ car['id'] }}" data-phone="{{ car['driver_phone'] }}"
                        data-image="{{ url_for('static', filename='picture/' + car['image_path']) }}">
                        {{ car['name'] }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="driverPhone" class="form-label">No Telepon Driver:</label>
                <input type="tel" class="form-control" id="driverPhone" name="driverPhone" readonly>
            </div>
            <div class="mb-3">
                <label for="namaPIC" class="form-label">Nama PIC:</label>
                <input type="text" class="form-control" id="namaPIC" name="namaPIC" placeholder="Masukkan Nama PIC"
                    required>
            </div>
            <div class="mb-3">
                <label for="waktuMulai" class="form-label">Waktu Mulai Booking:</label>
                <input type="datetime-local" class="form-control" id="waktuMulai" name="waktuMulai" required>
            </div>
            <div class="mb-3">
                <label for="waktuSelesai" class="form-label">Waktu Selesai Booking:</label>
                <input type="datetime-local" class="form-control" id="waktuSelesai" name="waktuSelesai" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Keterangan:</label>
                <textarea class="form-control" id="description" name="description" rows="4"
                    placeholder="Masukkan keterangan..."></textarea>
            </div>
            <div class="mb-3">
                <label class="form-label">Pratinjau Gambar:</label>
                <div id="preview-container">
                    <img id="preview-image" src="#" alt="Pratinjau Gambar"
                        style="display: none; max-width: 100%; height: auto;">
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Simpan</button>
        </form>

        <!-- Tabel Data Booking -->
        <br>
        <h3>Daftar Booking Mobil</h3>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Waktu Booking</th>
                    <th>Nama Mobil</th>
                    <th>Nama PIC</th>
                    <th>No Telp Driver</th>
                    <th>Waktu Mulai Booking</th>
                    <th>Waktu Selesai Booking</th>
                    <th>Keterangan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking['id'] }}</td>
                    <td>{{ booking['time_booking'] }}</td>
                    <td>{{ booking['car_name'] }}</td>
                    <td>{{ booking['pic_name'] }}</td>
                    <td>{{ booking['driver_phone'] }}</td>
                    <td>{{ booking['start_time'] }}</td>
                    <td>{{ booking['end_time'] }}</td>
                    <td>{{ booking['description'] }}</td>
                    <td>
                        <!-- Tombol Select -->
                        <button type="button" class="btn btn-success btn-sm"
                            onclick="selectBooking({{ booking.id }})">Select</button>
                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#cancelModal"
                            data-id="{{ booking['id'] }}">Hapus</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modal Konfirmasi Hapus -->
    <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Konfirmasi Pembatalan</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="cancelForm" onsubmit="submitCancelForm(event)">
                    <div class="modal-body">
                        <p>Apakah Anda yakin ingin membatalkan booking ini?</p>
                        <input type="hidden" id="cancelBookingId" name="bookingId">
                        <!-- <input type="text" id="cancelBookingId" name="bookingId"> -->
                        <div class="mb-3">
                            <label for="cancelReason" class="form-label">Alasan Pembatalan:</label>
                            <textarea class="form-control" id="cancelReason" name="cancelReason" rows="3"
                                required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Batal</button>
                        <button type="submit" class="btn btn-danger">Hapus</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
        // Validasi Waktu Mulai dan Selesai
        // document.querySelector('form').addEventListener('submit', function (event) {
        //     const startTime = new Date(document.getElementById('waktuMulai').value);
        //     const endTime = new Date(document.getElementById('waktuSelesai').value);

        //     if (startTime >= endTime) {
        //         event.preventDefault();
        //         alert('Waktu mulai harus lebih kecil dari waktu selesai.');
        //     }
        // });
        // Fungsi untuk memvalidasi waktu mulai dan selesai
        // Fungsi untuk memvalidasi waktu mulai dan selesai
        function validateBookingTimes() {
            const startTime = new Date(document.getElementById('waktuMulai').value);
            const endTime = new Date(document.getElementById('waktuSelesai').value);

            if (startTime >= endTime) {
                // Jika waktu mulai lebih besar atau sama dengan waktu selesai
                alert('Waktu mulai harus lebih kecil dari waktu selesai.');
                return false; // Menghentikan validasi
            }
            return true; // Validasi berhasil
        }

        // Menambahkan event listener untuk perubahan waktu mulai dan selesai
        document.getElementById('waktuMulai').addEventListener('change', function () {
            validateBookingTimes();
        });

        document.getElementById('waktuSelesai').addEventListener('change', function () {
            validateBookingTimes();
        });

        // Menambahkan event listener untuk form submit
        document.querySelector('form').addEventListener('submit', function (event) {
            // Cek validasi hanya saat form akan disubmit
            if (!validateBookingTimes()) {
                event.preventDefault(); // Mencegah submit jika validasi gagal
            }
        });


        // Pratinjau Gambar
        const carSelect = document.getElementById('carName');
        const driverPhoneInput = document.getElementById('driverPhone');
        const previewImage = document.getElementById('preview-image');
        carSelect.addEventListener('change', function () {
            const selectedOption = carSelect.options[carSelect.selectedIndex];
            const phone = selectedOption.getAttribute('data-phone');
            const imagePath = selectedOption.getAttribute('data-image');
            driverPhoneInput.value = phone || '';
            if (imagePath) {
                previewImage.src = imagePath;
                previewImage.style.display = 'block';
            } else {
                previewImage.style.display = 'none';
            }
        });

        // Event modal show untuk mengisi bookingId
        $('#cancelModal').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget); // Tombol yang memicu modal
            const bookingId = button.data('id'); // Ambil data-id dari tombol

            console.log("ID Booking:", bookingId); // Debugging

            $(this).find('#cancelBookingId').val(bookingId); // Isi input hidden
        });

        // Submit form pembatalan dengan AJAX
        function submitCancelForm(event) {
            event.preventDefault();
            const bookingId = document.getElementById('cancelBookingId').value;
            const cancelReason = document.getElementById('cancelReason').value;
            fetch('/cancel_booking', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        bookingId,
                        cancelReason
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert(data.message);
                        window.location.reload();
                    } else {
                        alert('Pembatalan gagal.');
                    }
                })
                .catch(error => alert('Terjadi kesalahan.'));
        }

        // Modal
        document.getElementById('cancelModal').addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;
            document.getElementById('cancelBookingId').value = button.getAttribute('data-id');
        });

        // Fungsi untuk menangani tombol Select
        function selectBooking(bookingId) {
            // Kirim permintaan GET ke server untuk mendapatkan data booking berdasarkan ID
            fetch(`/get_booking/${bookingId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error); // Tampilkan pesan error jika ada
                    } else {
                        // Isi form dengan data yang diterima
                        document.getElementById('bookingId').value = bookingId; // ID booking
                        document.getElementById('carName').value = data.car_id; // ID mobil
                        document.getElementById('driverPhone').value = data.driver_phone; // Nomor telepon driver
                        document.getElementById('namaPIC').value = data.pic_name; // Nama PIC
                        document.getElementById('waktuMulai').value = data.start_time; // Waktu mulai booking
                        document.getElementById('waktuSelesai').value = data.end_time; // Waktu selesai booking
                        document.getElementById('description').value = data.description; // Keterangan booking

                        // Tampilkan gambar pratinjau
                        const previewImage = document.getElementById('preview-image');
                        if (data.image_path) {
                            previewImage.src = `/static/picture/${data.image_path}`;
                            previewImage.style.display = 'block';
                        } else {
                            previewImage.style.display = 'none';
                        }
                        // Panggil validasi setelah data dimuat ke form
                        validateBookingTimes();
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Terjadi kesalahan saat mengambil data booking.');
                });
        }
    </script>
</body>

</html